<h1>Games</h1>
<table>
    <thead>
        <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |game|}}
            <tr>
                <td>{{#link-to 'person' game.winner.id}}{{game.winner.name}}{{/link-to}}</td>
                <td>{{#link-to 'person' game.loser.id}}{{game.loser.name}}{{/link-to}}</td>
                <td>{{game.start}}</td>
                <td>{{game.end}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
