<h1>Standings</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    <tbody>
        {{#each person in model}}
            <tr>
                <td>{{#link-to 'person' person.id}}{{person.name}}{{/link-to}}</td>
                <td>{{person.wonGamesCount}}</td>
                <td>{{person.lostGamesCount}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{#link-to 'game.new' tagName='button'}}New Game{{/link-to}}
